

a,
a *,
a:visited,
a:visited * {
  color: var(--h-color) !important;
}

.navBarDark {
  background-color: var(--support-bg-color) !important;
}

.navBarMain {
  background-color: var(--support-bg-color) !important;
  font-size: 25px;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 0px;
  left: 50%;
}

.navElem {
  background-color: var(--support-bg-color) !important;
  font-size: 30px;
  color: var(--h-color) !important;
  font-weight: normal !important;
}

.navElem:hover {
  background-color: var(--main-bg-color) !important;
  color: var(--h-color) !important;
}

.navElemButtons {
  background-color: var(--support-bg-color) !important;
  color: var(--h-color) !important;
  font-weight: normal !important;
  border: var(--tabel-border-color) 1px solid;
}
