

a,
a *,
a:visited,
a:visited * {
  color: rgba(180, 180, 180, 1) !important;
}

.navBarDark {
  background-color: var(--support-bg-color) !important;
}

.navBarMain {
  background-color: var(--support-bg-color) !important;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 0px;
  left: 50%;
}


