

a:visited,
a:visited * {
    color: rgba(180, 180, 180, 1) !important;
}

.navBarDark {
    background-color: var(--support-bg-color) !important;
}

.navBarMain {
    background-color: var(--support-bg-color) !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


