
.questAddForm {
  margin-top: 10px;
}

.questList {
  list-style-type: none;
  border: black 1px solid;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quest-entrance {
  border-bottom: var(--tabel-border-color) 1px solid;
  margin-bottom: 20px;
  color: var(--text-color) !important;
}

.quest-entrance:hover {
  border: 1px solid var(--link-color);
}

.quest-entrance-text {
  color: var(--text-color) !important;
}

.checkbox {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  /*margin-right: 10px;*/
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s ease-in-out;
  border: 2px solid var(--h-color);
}

.checkbox:hover {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid var(--link-hover-color);
}

/*TODO - implemented checked int quests*/
.checkbox-checked {
  color: rgba(98, 114, 164, 1);
  background: #fff;
}

.navBar {
  background-color: var(--support-bg-color) !important;
  border-top: var(--tabel-border-color) 1px solid;
  padding-top: 10px;
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
  margin-left: -5%;
}


.navElem {
  background-color: var(--support-bg-color) !important;
  font-size: 30px;
  color: var(--h-color) !important;
}

.navElem:hover {
  background-color: var(--main-bg-color) !important;
}

.navElemButtons {
  background-color: var(--support-bg-color) !important;
  color: var(--h-color) !important;
  font-weight: normal !important;
  border: var(--tabel-border-color) 1px solid;
}


.test1 {
  border: black 1px solid;
}

.test2 {
  border: red 1px solid;
}

.test3 {
  border: blue 1px solid;
}

.test4 {
  border: green 1px solid;
}

.test5 {
  border: orange 1px solid;
}
